.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;
    padding-top: 0;
    padding-bottom: 0;

    background-color: var(--branco);
}

.cabecalho__link-logo {
    display: flex;
    justify-content: start;
}

.cabecalho__logo {
    height: 3.5rem;
}

.cabecalho__pesquisa {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;

    box-sizing: border-box;
    width: 100%;
    margin-left: 2.5em;

    font-size: 1.5rem;
}

.cabecalho__login {
    padding: 0 clamp(1rem, 10vw, 6rem);
}

@media screen and (min-width: 768px) {
    .cabecalho__logo-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 15vw;
    }
    
    .cabecalho__logo {
        width: fit-content;
        height: 4.5rem;
        
    }

    .cabecalho__pesquisa {
        display: flex;
    }
    
    .cabecalho__pesquisa__inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: .7rem 1rem;
                
        border-radius: 20px;
        background-color: var(--preto-05);
        color: var(--preto-50);
    }

    .cabecalho__pesquisa--text {
        width: 100%;
        background-color: var(--preto-05);
    }
    
    .cabecalho__pesquisa--text:focus-visible {
        
        outline: none;
    }

    .cabecalho__pesquisa__resultados {
        display: none;
    }
    
    .cabecalho__pesquisa:focus-within
    .cabecalho__pesquisa__resultados {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        z-index: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 2.5rem 1rem .7rem;
        
        border-radius: 0 0 1.5rem 1.5rem;
        background-color: #fafafacb;
        color: var(--preto-100);
    }
    
    .cabecalho__pesquisa__icone-mobile {
        display: none;
    }
}



@media screen and (min-width: 1024px) {
    .cabecalho {
        height: 13vh;
    }

    .cabecalho__logo {
        height: 7vh;
    }
}