.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.2rem;
    padding-top: 0;
    padding-bottom: 0;

    background-color: var(--branco);
}

.cabecalho__link-logo {
    display: flex;
    justify-content: start;
}

.cabecalho__logo {
    height: 3.5rem;
}

.cabecalho__pesquisa {
    display: none;
}

.cabecalho__login {
    padding: 0 clamp(1rem, 10vw, 6rem);
}

@media screen and (min-width: 768px) {
    .cabecalho__logo-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 15vw;
    }
    
    .cabecalho__logo {
        width: fit-content;
        height: 4.5rem;
        
    }
    
    .cabecalho__pesquisa {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        padding: 0 1em;
        margin-left: 2.5em;
        
        border-radius: 20px;
        background-color: #f5f5f5;
        color: var(--preto-50);
    }
    
    .cabecalho__pesquisa--input {
        width: 100%;
        
        background-color: var(--preto-05);
        font-size: 1.4rem;
    }
    
    .cabecalho__pesquisa--input:focus-visible {
        
        outline: none;
    }

    .cabecalho__pesquisa-mobile--icone {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        height: 13vh;
    }

    .cabecalho__logo {
        height: 7vh;
    }
}