<div class="cabecalho__logo-container">
    <a href="./index.html" class="cabecalho__link-logo"><img src="../images/logo.svg" alt="logo do alura Geek" class="cabecalho__logo"></a>
    <div class="cabecalho__pesquisa">
        <div class="cabecalho__pesquisa__inputs">
            <input type="text" class="cabecalho__pesquisa--text" placeholder="O que deseja encontrar?" id="inputBusca">
            <span class="material-symbols-outlined cabecalho__pesquisa--icone">search</span>
        </div>
        <div class="cabecalho__pesquisa__resultados" id="resultados">
            <!-- <a href="">Caneca stroomer trooper</a>
            <a href="">Pedestal Darth vader</a>
            <a href="">Boneco Yoda</a>
            <a href="">Boneco Stoomer trooper</a> -->
        </div>
    </div>
</div>
<a href="../Pages/login.html" class="cabecalho__login botao botao--transparente" >Login</a>
<span class="cabecalho__pesquisa__icone-mobile material-symbols-outlined" id="lupaPesquisa">search</span>