<div class="cabecalho__logo-container">
    <a href="./index.html" class="link__home"><img src="../images/logo.svg" alt="logo do alura Geek" class="cabecalho__logo"></a>
    <div class="cabecalho__pesquisa">
        <input type="text" class="cabecalho__pesquisa--input" placeholder="O que deseja encontrar?">
        <span class="material-symbols-outlined cabecalho__pesquisa--icone">search</span>
    </div>
</div>
<a href="../Pages/login.html" class="cabecalho__login" >Login</a>
<span class="material-symbols-outlined cabecalho__pesquisa--icone-mobile">search</span>