<form action="" class="formulario login">
    <h4 class="formulario__titulo">Iniciar Sessão</h4>
    <div class="formulario__campo login__email">
        <input type="email" name="" id="" class="login__email__input formulario__campo__input" placeholder="Escreva seu email" required>
    </div>
    <div class="formulario__campo login__senha">
        <input type="password" minlength="6" name="" id="" class="login__senha__input formulario__campo__input" placeholder="Escreva sua senha" required>
    </div>
    <button type="submit" class="login__botao botao botao--azul">Entrar</button>
</form>