<h2 class="novo-produto__titulo formulario__titulo">Novo produto</h2>
<div class="novo-produto__nome formulario__campo">
    <label for="" class="formulario__campo__label">Nome do produto</label>
    <input type="text" name="" id="novo-produto__nome" class="novo-produto__nome formulario__campo__input" required>
</div>
<div class="novo-produto__categoria formulario__campo">
    <label for="" class="formulario__campo__label">Categoria</label>
    <input type="text" name="" id="novo-produto__categoria" class="novo-produto__categoria formulario__campo__input" required>
</div>
<div class="novo-produto__preco formulario__campo">
    <label for="" class="formulario__campo__label">Preço do produto</label>
    <input type="text" name="" id="novo-produto__preco" class="novo-produto__preco formulario__campo__input" required>
</div>
<div class="novo-produto__imagem-url formulario__campo">
    <label for="" class="formulario__campo__label">URL da imagem</label>
    <input type="text" id="novo-produto__url" class="novo-produto__imagem-url__input formulario__campo__input">
</div>
<div class="novo-produto__descricao formulario__campo">
    <textarea name="" id="novo-produto__descricao" cols="auto" rows="auto" class="novo-produto__descricao formulario__campo__textarea" placeholder="Descrição do produto"></textarea>
</div>
<button class="novo-produto__botao botao botao--azul">Adicionar produto</button>