<img src="" class="produto__imagem" id="produto__imagem">
<div class="produto__editar" style="display: none;">
    <span class="material-symbols-outlined">delete_forever</span>
    <span class="material-symbols-outlined">edit</span>
</div>
<div class="produto__info">
    <h5 class="produto__titulo" id="produto__titulo"></h5>
    <p class="produto__preco" id="produto__preco"></p>
    <a href="" class="produto__link" id="produto__link">Ver produto</a>
    <p class="produto__identificador" id="produto__identificador" style="display: none;"></p>
</div>