<div class="saiba-mais container">
    <div class="saiba-mais__container grid-logo">
        <img src="../images/logo.svg" alt="logo da alura geek" class="saiba-mais__logo">
    </div>
    <div class="saiba-mais__container grid-links">
        <nav class="saiba-mais__nav">
            <a href="" class="saiba-mais__nav__link">Quem somos nós</a>
            <a href="" class="saiba-mais__nav__link">Política de privacidade</a>
            <a href="" class="saiba-mais__nav__link">Programa fidelidade</a>
            <a href="" class="saiba-mais__nav__link">Nossas lojas</a>
            <a href="" class="saiba-mais__nav__link">Quero ser franqueado</a>
            <a href="" class="saiba-mais__nav__link">Anuncia aqui</a>
        </nav>
    </div>
    <div class="saiba-mais__container grid-contato">
        <form action="" class="saiba-mais__contato formulario">
            <h4 class="formulario__titulo">Fale conosco</h4>
            <div class="formulario__campo">
                <label for="" class="formulario__campo__label">Nome</label>
                <input type="text" class="formulario__campo__input">
            </div>
            <div class="formulario__campo formulario__campo__textarea-div">
                <textarea name="" id="" cols="auto" rows="auto" class="formulario__campo__textarea" placeholder="Escreva sua mensagem"></textarea>
            </div>
            <button class="botao botao--azul">Enviar mensagem</button>
        </form>
    </div>
</div>
<div class="sobre container">
    <p class="sobre__direito-autoral">Desenvolvido por Samuel</p>
    <p class="sobre__ano">2021</p>
</div>