<div class="secao-produtos">
    <div class="produto">
        <img src="../images/produtos_star-wars_1.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
    <div class="produto">
        <img src="../images/produtos_star-wars_2.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
    <div class="produto">
        <img src="../images/produtos_star-wars_3.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
    <div class="produto">
        <img src="../images/produtos_star-wars_4.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
    <div class="produto">
        <img src="../images/produtos_star-wars_5.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
    <div class="produto">
        <img src="../images/produtos_star-wars_6.png" alt="caneca stormer trooper" class="produto__imagem">
        <h5 class="produto__descricao">Produto XYZ</h5>
        <p class="produto__preco">R$ 60,00</p>
        <a href="" class="produto__link">Ver produto</a>
    </div>
</div>