<div class="todos-produtos__cabecalho">
        <h2 class="todos-produtos__cabecalho__titulo" id="titulo">Todos os produtos</h2>
        <div class="dropdown">
                <button class="dropdown__toggle botao">Categoria<span class="material-symbols-outlined">expand_more</span></button>
                <div class="dropdown__menu">
                      <a href="" class="dropdown__item" data-categoria="Todos">Todos</a>
                      <a href="" class="dropdown__item" data-categoria="Diversos">Diversos</a>
                      <a href="" class="dropdown__item" data-categoria="Consoles">Consoles</a>
                      <a href="" class="dropdown__item" data-categoria="Star Wars">Star Wars</a>
                </div>
        </div>
        <a href="../Pages/Novo_produto.html" class="todos-produtos__cabecalho__botao botao botao--azul" style="display: none;"></a>
</div>
<div class="todos-produtos__corpo" id="todos-produtos__corpo" data-container="100">
</div>
<div class="todos-produtos__rodape">
        <a href="#" class="todos-produtos__rodape__link">1</a>
        <a href="#" class="todos-produtos__rodape__link">2</a>
</div>